*~
_build/
*.byte
*.native
setup.bin
setup.data
setup.log
*.docdir
*.cma
*.cmx
*.cmo
*.cmxa
*.cmti
*.cmt
*.cmi
*.a
*.o
*.cmxs
*.run
*.omc
*.opt
*.byte
.omakedb
.omakedb.lock
bin/eliom_desugar
bin/eliom_ppx
